@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all .2s linear;
  font-family: serif;
  list-style: none;


}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ee4141;
  --white: #ffffff;
  --bg: #f5f5f5;


}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 65%;
  font-family: "Montserrat", sans-serif;

}


/* navbar */

.navbar .getstarted {
  background: #106eea;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem;
  line-height: 2.3;
}

.text {
  color: red;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px;

}

a:hover {

  border: 1px solid red;
  border-radius: 10px 20px;
  transition: .5s;
  background-color: #ee4141;
}

.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}

.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.services .card-body i {
  font-size: 50px;
}

.team .card-body i {
  font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }

  .carousel-caption p {
    width: 100%;
  }

  .card {
    margin-bottom: 30px;
  }

  .img-area img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .carousel-caption {
    bottom: 125px;
  }

  .carousel-caption h5 {
    font-size: 17px;
  }

  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }

  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }

  .about-text {
    padding-top: 50px;
  }

  .card {
    margin-bottom: 30px;
  }
}


/* navbar ends */

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

html::-webkit-scrollbar-track {
  background: #f9f9f9;
}



body {
  font-size: 1.6rem;
  background: var(--bg);
  align-items: center;
  box-shadow: 0rem .1rem .5rem black;
  font-family: serif;
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;

}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

.header.active {
  padding: 2rem 9%;

}

.carousel-item img {
  width: 100%;
  height: 80vh;
}

/* about */
.sample-text-area {
  padding: 50px 0 10px 0;

}

.sub-content {
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  display: block;
}

.sectionTitle-color {
  color: #f92a2a;
}

.sectionTitle {
  text-transform: capitalize;

  font-family: serif;
  margin-bottom: 42px;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

p {
  margin-bottom: 0;
  display: block;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #2a1212;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.sample-text-area .container{
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 7rem 13rem 2rem;
}
.sample-text-area .container img{
  padding-top: 100px ;
  height: 600px;
}



#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* button */
.button {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #f50d0d;
	border-radius: 999px;
	box-shadow: #f31a1a 0 10px 20px -10px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-family: serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
  
}

.button:hover {
	color: #000;
	box-shadow: #000;
}

/* animation */

/* footer */
.new-mobile-footer {
  width: 100%;
  float: left;
  background: #000;
  padding: 50px 14px 20px;
  display: block;

}

.mob-foot-logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.chitkara-address {
  width: 100%;
  float: left;
  padding: 10px 20px;
}

.chitkara-address {
  width: 100%;
  float: left;
  padding: 10px 0;
}

.chitkara-address span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.chitkara-address p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 6px;
  text-align: center;
}

.chitkara-address p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 6px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.foot-copy-right-text {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 22px;
  float: left;
}

.foot-social-icons {
  align-items: center;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;

}


.foot-social-icons a {
  padding: 0 15px 0 0;
  cursor: pointer;
  position: relative;
  align-items: center;
  text-align: center;

}

a {
  color: #1a1a1a;
  text-decoration: none;
  text-align: center;
  text-decoration: none;

}

img {
  vertical-align: middle;
}

.foot-copy-right-text1 {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 15px;
}

.foot-copy-right-text1 span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer-term-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foot-copy-right-text span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer-term-text a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}